:root {
    --primary-heading-font: 'Poppins', sans-serif;
    --secondary-heading-font: 'Open Sans Condensed', sans-serif;
    --content-font: 'Quicksand', sans-serif;
    --primary-colour: #F28907;
    --secondary-colour: #0D6BA6;
    --content-colour: #023859;
    --background-color: white;
    --image-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

h1 {
    font-family: var(--primary-heading-font);
    font-weight: SemiBold;
    color: white;
    font-size: 80px;

}

h3 {
    font-size: 40px;
    color: white;
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

nav li {
    display: inline;
    line-height: 50px;
    font-size: 16px;
    font-weight: bold;
}

nav ul {
    margin: 0
}
nav {
    padding: 20px;
   
}

nav .menu-option{
    text-decoration: none;
    margin: 10px;
    color: #023859;
    transition: all 0.1s ease-in;
    
}

nav .menu-option:hover, nav  .active{
    
    color:#F27649;
    
}


.section {
    background: #023859;
    display: flex; 
    flex-direction: column;
    align-items: center;
   
}

.subsection {
    background: #F27649;
   
}

a {
    font-family: var(--primary-heading-font)
}

.hero h2 {
    color: whitesmoke;
}
body{
    font-family: var(--secondary-heading-font);
    background: var(--background-color);
    
}

.hero-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.hero-buttons .btn {
 background: var(--primary-colour);
 border-radius: 4px;
 padding: 15px 30px;
 margin: 0 10px;
 color: white;
}

.hero-buttons .btn:hover {
    background: #F29F05;
}

.hero {
    text-align: center;
    background: var(--secondary-colour);
    padding: 100px 100px;
}

p,ul {
    color: var(--content-colour);
    font-family: var(--content-font);
    font-size: 16px;
    text-align: left;
}

.contact a {
    text-decoration: none;
    color:var(--content-colour);
}

.contact a:hover{
    color: white;
}


.contact-page a {
    min-width: 300px;
}


.example {
    background: white;
    padding: 20px;
    border-radius:10px;
    margin: 20px 0;
   }

.skills h2, .example h2 {
    color: #F28907;
       font-size: 34px;
}
.example .btn, .example-desc .btn{
  
    background: #023859;
    color: white;
}

.example a:hover {
    background: #0D6BA6;
    color: white;
    
}
.example-desc {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    
}



.skill-example,.socials{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.work-example img{
    height: 300px;
}

.work-example a{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    border-radius: 5px;
    color: var(--content-colour);
    padding: 10px 30px;
    transition: all ease-in-out 0.2s
}

.work-example a:hover {
    color: white;
}

a p {
    color: inherit;
}


ul {
    list-style: none;
    padding: 0
}

footer {
    background: #F27649;
    padding: 60px 200px;
     display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

img {
    border-radius: 0px;
  
    box-shadow: var(--image-shadow)
}
.socials i {
    color: whitesmoke;
    margin: 10px;
    }
.skill-example i {
    color: #0D6BA6;
    margin: 20px;
}

@media (max-width: 568px) {
    .example-desc {
        align-items: center
    }

    .example a {
        width: 100%;
    }

    .example p, .work-example h2 {
        text-align: center;
    }

    .hero-buttons .btn {
        padding: 5px 10px;
    }

    .contact p {
        display: none;
    }
    .contact{
        padding: 20px;
    }

    .hero{
        padding: 20px;
    }

    h1 {
        font-size: 44px;
    }

    .example h2 {
        font-size: 24px
    }

    .logo {
        width: 30px;
        height: 30px;
    }

    nav li {
        line-height: 30px;
        font-size: 14px;
       
    }
    nav {
        padding:10px
    }

    .contact-page a{
        min-width: 0;
    }
}